@page "/userinfo"
@page "/userinfo/{userid:int}"
@using Client.Services;

<h1 class="mb-3 mt-3">Mine oplysninger:</h1>

@if (userItem != null)
{
    <div class="col-md-12 mb-3">
        <label for="name">Fornavn:</label>
        <InputText id="name" @bind-Value="userItem.name" class="form-control" disabled />
    </div>
    <div class="col-md-12 mb-3">
        <label for="lastName">Efternavn:</label>
        <InputText id="lastName" @bind-Value="userItem.lastName" class="form-control" disabled />
    </div>
    <div class="col-md-6 mb-3">
        <label for="address">Adresse:</label>
        <InputText id="address" @bind-Value="userItem.address" class="form-control" disabled />
    </div>
    <div class="col-md-6 mb-3">
        <label for="email">Email:</label>
        <InputText id="email" @bind-Value="userItem.email" class="form-control" disabled />
    </div>
    <div class="col-md-6 mb-3">
        <label for="telephone">Telefonnummer:</label>
        <InputText id="telephone" @bind-Value="userItem.telephone" class="form-control" disabled />
    </div>
    <div class="col-md-6 mb-3">
        <label for="birthDate">Fødselsdato:</label>
        <InputDate id="birthDate" @bind-Value="userItem.birthDate" class="form-control" disabled />
    </div>
    <div class="col-md-6 mb-3">
        <label for="role_id">Rolle: Koordinator = 1, Frivillig = 2</label>
        <InputNumber id="role_id" @bind-Value="userItem.role_id" class="form-control" disabled />
    </div>
    <div class="col-md-6 mb-3">
        <label for="password">Password:</label>
        <InputText id="password" @bind-Value="userItem.password" type="password" class="form-control" disabled />
    </div>
}
else
{
    <p>Brugeroplysninger blev ikke fundet.</p>
}

@code {
    [Parameter]
    public int userid { get; set; }

    [Inject]
    private IUserService mService { get; set; }

    private UserDTO userItem;

    protected override async Task OnInitializedAsync()
    {
        await LoadUserData();
    }

    private async Task LoadUserData()
    {
        try
        {
            userItem = await mService.GetUserById(userid);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Fejl ved indlæsning af brugeroplysninger: {ex.Message}");
        }
    }
}