@inject Blazored.SessionStorage.ISessionStorageService sessionStorage;

<!-- NavBar når brugeren er logget ind -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <div class="navbar-brand">Baunes Festival</div>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">

            <!-- Brugeroplysninger, uanset rolle kan man se sin egne oplysninger -->
            <li class="nav-item">
                @if (isLoggedIn)
                {
                    <NavLink class="nav-link" href="userinfo">
                        <span class="oi oi-person" aria-hidden="true"></span> Mine Oplysninger
                    </NavLink>
                }
            </li>

            <!-- Vagtliste over alle vagter, kan kun ses/redigeres af koordinatorer -->
            <li class="nav-item">
                @if (isLoggedIn && userRoleId == 1)
                {
                    <NavLink class="nav-link" href="shifts">
                        <span class="oi oi-calendar" aria-hidden="true"></span> Vagtliste
                    </NavLink>
                }
            </li>

            <!-- Vagtliste over en frivilligs egne vagter -->
            <li class="nav-item">
                @if (isLoggedIn && userRoleId == 2)
                {
                    <NavLink class="nav-link" href="usershifts">
                        <span class="oi oi-clipboard" aria-hidden="true"></span> Mine Vagter
                    </NavLink>
                }
            </li>

            <!-- Vagtliste over alle de vagter en frivillig kan tage -->
            <li class="nav-item">
                @if (isLoggedIn && userRoleId == 2)
                {
                    <NavLink class="nav-link" href="openshifts">
                        <span class="oi oi-calendar" aria-hidden="true"></span> Vagter
                    </NavLink>
                }
            </li>

            <!-- Oprettelse af vagter, kun koordinatorer -->
            <li class="nav-item">
                @if (isLoggedIn && userRoleId == 1)
                {
                    <NavLink class="nav-link" href="createshift">
                        <span class="oi oi-pencil" aria-hidden="true"></span> Opret Vagter
                    </NavLink>
                }
            </li>

            <!-- Liste / informationer over brugere, kun koordinatorer -->
            <li class="nav-item">
                @if (isLoggedIn && userRoleId == 1)
                {
                    <NavLink class="nav-link" href="users">
                        <span class="oi oi-people" aria-hidden="true"></span> Brugere
                    </NavLink>
                }
            </li>

            <!-- Oprettelse af brugere, kun koordinatorer -->
            <li class="nav-item">
                @if (isLoggedIn && userRoleId == 1)
                {
                    <NavLink class="nav-link" href="createuser">
                        <span class="oi oi-pencil" aria-hidden="true"></span> Opret Bruger
                    </NavLink>
                }
            </li>

            <!-- Log ud, navigerer tilbage til login siden -->
            <li class="nav-item">
                @if (isLoggedIn)
                {
                    <NavLink class="nav-link" @onclick="@Logout" href=""> Log ud </NavLink>
                }
            </li>
        </ul>
    </div>
</nav>

@code {
    private int userId { get; set; }

    // Angiver om brugeren er logget ind eller ej
    public bool isLoggedIn = false;

    // ID for brugerens rolle
    public int userRoleId { get; set; }

    private async void Logout()
    {
        //Ryder sessionStorage
        await sessionStorage.ClearAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        // Henter data fra sessionStorage og tildeler værdier til de tilsvarende variabler
        isLoggedIn = await sessionStorage.GetItemAsync<bool>("isLoggedIn");
        userRoleId = await sessionStorage.GetItemAsync<int>("userRoleId");
        userId = await sessionStorage.GetItemAsync<int>("userId");
    }


}
