@inject Blazored.SessionStorage.ISessionStorageService sessionStorage;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Home</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            @if (!isLoggedIn)
            {
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Login
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            @if (isLoggedIn)
            {
                <NavLink class="nav-link" href="userinfo">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Mine Oplysninger
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            @if (isLoggedIn)
            {
                <NavLink class="nav-link" href="shifts">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Vagter
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            @if (isLoggedIn)
            {
                <NavLink class="nav-link" href="usershifts">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Mine Vagter
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            @if (isLoggedIn)
            {
                <NavLink class="nav-link" href="createshift">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Lav Vagter
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            @if (isLoggedIn)
            {
                <NavLink class="nav-link" href="users">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> User
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            @if (isLoggedIn)
            {
                <NavLink class="nav-link" href="createuser">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Lav bruger
                </NavLink>
            }
        </div>
    </nav>
</div>

@code {
    public bool isLoggedIn = false;

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        isLoggedIn = await sessionStorage.GetItemAsync<bool>("isLoggedIn");
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}