@inject Blazored.SessionStorage.ISessionStorageService sessionStorage;


<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <div class="navbar-brand">Baunes Festival</div>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    @if (isLoggedIn)
                    {
                        <NavLink class="nav-link" href="userinfo">
                            <span class="oi oi-person" aria-hidden="true"></span> Mine Oplysninger
                        </NavLink>
                    }
                </li>
                <li class="nav-item">
                    @if (isLoggedIn && userRoleId == 1)
                    {
                        <NavLink class="nav-link" href="shifts">
                            <span class="oi oi-calendar" aria-hidden="true"></span> Vagter
                        </NavLink>
                    }
                </li>
                <li class="nav-item">
                    @if (isLoggedIn && userRoleId == 2)
                    {
                        <NavLink class="nav-link" href="usershifts">
                            <span class="oi oi-clipboard" aria-hidden="true"></span> Mine Vagter
                        </NavLink>
                    }
                </li>
                <li class="nav-item">
                    @if (isLoggedIn && userRoleId == 2)
                    {
                        <NavLink class="nav-link" href="openshifts">
                            <span class="oi oi-calendar" aria-hidden="true"></span> Vagter
                        </NavLink>
                    }
                </li>
                <li class="nav-item">
                    @if (isLoggedIn && userRoleId == 1)
                    {
                        <NavLink class="nav-link" href="createshift">
                            <span class="oi oi-pencil" aria-hidden="true"></span> Opret Vagter
                        </NavLink>
                    }
                </li>
                <li class="nav-item">
                    @if (isLoggedIn && userRoleId == 1)
                    {
                        <NavLink class="nav-link" href="users">
                            <span class="oi oi-people" aria-hidden="true"></span> Brugere
                        </NavLink>
                    }
                </li>
                <li class="nav-item">
                    @if (isLoggedIn && userRoleId == 1)
                    {
                        <NavLink class="nav-link" href="createuser">
                            <span class="oi oi-pencil" aria-hidden="true"></span> Opret Bruger
                        </NavLink>
                    }
                </li>
                <li class="nav-item">
                    @if (isLoggedIn)
                    {
                        <NavLink class="nav-link" href=""> Log ud </NavLink>
                    }
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

        public bool isLoggedIn = false;

        public int userRoleId { get; set; }


        private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

        protected override async Task OnInitializedAsync()
        {
            isLoggedIn = await sessionStorage.GetItemAsync<bool>("isLoggedIn");
            userRoleId = await sessionStorage.GetItemAsync<int>("userRoleId");
        }


}
